<html>

<head>
    <title> Home</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <div class="header">
        <a href="/">HOME</a>
    </div>

</body>

</html>