<html>

<head>
    <title> Home</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
   
    <h2>{{>header}}</h2>
    <div class="div1">
    <h1 class="title">{{title}}</h1>
    <h2 class="welc">{{desc}}</h2>

    <form id="form4"> 
        <input type="text" id="address">
        <button>search for weather</button>
    </form>

    
    <p id="forecast"></p>
    <p id="longtitude"></p>
    <p id="latitude"></p>
    <p id="location"></p>
    <p id="error"></p>

    <img src={{imag1}} >
    
    </div>
    <script src="js/script.js"></script>
</body>

</html>